--
-- PostgreSQL database dump
--

\restrict Z25FxFqKd2Vbfv8evQSa0ieSjUbLgM6BGETfV3ZIOwPd2hZDR040VsmGjIHEPhN

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: raw_air_quality_measurements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_air_quality_measurements (
    id integer NOT NULL,
    city text,
    location_id bigint,
    location_name text,
    latitude double precision,
    longitude double precision,
    parameter text,
    value double precision,
    unit text,
    measured_at timestamp without time zone,
    ingestion_date date,
    loaded_at timestamp without time zone DEFAULT now()
);


--
-- Name: raw_air_quality_measurements_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_air_quality_measurements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_air_quality_measurements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_air_quality_measurements_id_seq OWNED BY public.raw_air_quality_measurements.id;


--
-- Name: raw_air_quality_measurements id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_air_quality_measurements ALTER COLUMN id SET DEFAULT nextval('public.raw_air_quality_measurements_id_seq'::regclass);


--
-- Data for Name: raw_air_quality_measurements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: raw_air_quality_measurements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.raw_air_quality_measurements_id_seq', 5531, true);


--
-- Name: raw_air_quality_measurements raw_air_quality_measurements_city_location_id_parameter_mea_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_air_quality_measurements
    ADD CONSTRAINT raw_air_quality_measurements_city_location_id_parameter_mea_key UNIQUE (city, location_id, parameter, measured_at);


--
-- Name: raw_air_quality_measurements raw_air_quality_measurements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_air_quality_measurements
    ADD CONSTRAINT raw_air_quality_measurements_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict Z25FxFqKd2Vbfv8evQSa0ieSjUbLgM6BGETfV3ZIOwPd2hZDR040VsmGjIHEPhN

